.list {
    text-align: center;
}

.list .item, .list .item2 {
    border: 1px solid #000;
    margin: 4px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.list .item {
    display: none;
}

.list .listbtn {
    width: 90%;
    font-size: 18px;
    background-color: var(--blue);
    color: #fff;
    border: 1px solid var(--blue2);
    border-radius: 50vh;
    height: 40px;
    margin: 10px;
    margin: 10px auto;
}

.list .lista {
    display: block;
    padding: 10px 0 0 0;
    text-decoration: none;
    font-size: 20px;
}

.list .add {
    background-color: rgb(0 200 0);
}

.list .elm {
    font-weight: bold;
    margin: 10px;
}
.list .name {
    color: var(--blue);
    font-size: 22px;
}
.list .name2 {
    color: var(--blue);
    font-size: 20px;
}

.list .item input {
    display: block;
    font-size: 18px;
    margin: 10px auto;
    border-radius: 50vh;
    border: 1px solid var(--blue2);
    width: 90%;
    padding: 8px 10px;
    text-align: center;
}
.list .item input[type=submit]{
    color: #fff;
}

.list .item select {
    font-size: 18px;
    width: 90%;
    padding: 8px 10px;
    text-align: center;
    margin: 10px;
    border-radius: 50vh;
}


#loader {
    border: 6px solid #eee;
    border-top: 6px solid var(--blue);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@supports (-webkit-touch-callout: none) {
  input {
    position: absolute !important;
    bottom: env(safe-area-inset-bottom); /* iPhone X va boshqalar uchun */
  }
}